@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "popins";

}

:root{
    background-color:antiquewhite;
    
}
section{
    padding: 50px 10%;
}
img{
    width: 100%;
}
.logo img{
    width: 40px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:beige;
    box-shadow: 4px ;
    padding: 35 px 20%;
    transition: 0.2s;
}

.logo{
    display: flex;
    align-items: center
}
.navbar{
    display: flex;
}
.navbar a {
    font-size: 1rem;
    padding: 21px 30px;
    color: var(--second-color);
    font-weight:600 ;
    text-transform: uppercase;
    
}
.navbar a:hover{
    color: var(--main-color)
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index:1001;
    display: none;
    
}
.home{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background:lightgoldenrodyellow;
    gap: 1rem;
}
.home-text{
    flex:1 1 17rem;
}
.home-img{
    flex: 1 1 17rem;
}
.home-img img{
    animation:animate 3s linear infinite;
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    
}
.home-text h1{
    font-size: 3.2rem;
    font-weight: bolder;
    color: seagreen;

}
.home-text h2{
    font-size: 1.8rem;
    font-weight: bolder;
    color: black;
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;

}
.btn {
    padding: 7px 16px;
    border: 2px solid;
    border-radius:20px
}
.btn :hover{
    color: bisque;
    background:dodgerblue
}
.shop-container{
    display: flex;
    flex-wrap: wrap;
    
    gap: 2rem;
    margin-top: 25rem;
    height: 100%;

}
.shop-container .box{
    flex :1 1 20rem;
    background:seagreen;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
}
.shop-container .box .box-img{
    width:150px;
    height: 150px;
    margin-top: -250px;
}
.shop-container .box .box-img img{
    width: 100%;
    height:100%;
    object-fit: contain;
    
    object-position: center;
    
}


.box .button{
    border: 2px solid;
    border-radius: 8px;
}
.heading h1{
    justify-content: center;
    align-items: center;
    color: seagreen;
    margin-left: 500px;
}
.heading span{
    justify-content: center;
    align-items: center;
    color: seagreen;
    margin-left: 300px;
}
.our-services img{

    width: 100%;
    height: 100%;
}




